.flx {
    display: flex;
    flex-direction: column;
}

.txt {
    
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
}


img.face {
    height: 60vh;
    margin: auto;
    /*display: block;*/
    border : solid 0.4rem;
    border-color: black;
}