
h2.Title {
    color: var(--secondary);
}

img.face {
    width: 30vw; /* Ajustez la largeur de l'image selon vos besoins */
    margin: auto;
}


div.presentation {
    display: flex; /* Utilisation de Flexbox */
    flex-direction: row;
    background-color: var(--primary);
    border : solid 0.4rem;
    border-left: 0;
    border-right: 0;
    border-color:var(--black);
    transition: background-color 0.3s ease-in;

    
}

div.presentation:hover{
    background: linear-gradient(var(--primary), rgb(0, 77, 77));
    
}

div.presentation article {
    text-align: center;
    /*
    margin-left: 4rem;
    margin-right: 4rem;*/
    display: block;
    margin: auto;
    font-size: 1.25vw;

    
}



