:root {
    --bg: rgb(0, 0, 0);
    --bgg : rgb(30,30,30);
    --primary_color : rgb(0, 200, 116);
    --secondary_color: rgb(220, 220, 220);
    --gradient_color : rgb(21, 132, 212);
    --code : #bf00ff;
    font-family: "Cascadia Mono","Segoe UI Mono","Liberation Mono",Menlo,Monaco,Consolas,monospace;
    /* font-size: large; */
}

body {
    background-color: var(--bg);
    color: var(--secondary_color);
    
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: black;
}
body::-webkit-scrollbar-thumb {
    background: var(--primary_color);
}

#main
{
    margin:  auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center;  */
    /* font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono' , monospace; */
    color : var(--secondary_color) ;
    width: 65%;
}


img {
    display: block;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    max-width: 50%;
    height: auto;
    border-radius: 5%;
}


h1 {
    color: var(--primary_color);
    width : available;
    text-align: center;
}

h2 {
    color: var(--primary_color);
    width: available;
    
}

h3 {
    color: var(--primary_color);
    width: available;
}

a {
    text-decoration: none;
    color: var(--primary_color);
    transition: all 1s;
}

a:hover {
    color: var(--gradient_color);
}

pre {
    background-color: black;
    border: 0.1rem solid;
    border-radius: 0.5em;
}

code {
    border-radius: 15%;
    background-color: rgb(10,10,10);
    color: var(--code);
    font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono' , monospace;
    padding: 4px;
    padding-top: 0;
    padding-bottom: 0;
}

pre code {
    color: white;
    background-color: black;

}


@media (max-width: 700px) {
    
    #main {
        width: 95%;
    }
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;

}
